* {
  margin: 0;
  padding: 0;
}


body {
  background: #fde2ec;
  color: #21020d;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

/* header styling */
.logo {
  color: #21020d !important;
  letter-spacing: 0.6rem;
  font-weight: 700;
}

.logo:hover {
  color: #21020d;
}

.nav__bar a {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #fde2ec;
  transition: ease-in-out 0.5s;
}

.nav__bar a:hover {
  color: #21020d;
}

.navbar_toggler {
  background-color: #a70c42;
}

/* nav class on scroll using javascript */
.window-scrolled {
  background: #a70c42;
  border-bottom: 0.2rem solid var(--color-bg-3);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.sidebar {
  background: #f9a4c2;
}

.sidebar .logo {
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  font-size: 2rem;
}

.sidebar_body {
  padding: 2rem;
}

/* styling the navbr for other pages */
.nav__bar-others  {
  background-color: #a70c42;
}

.top-others {
  margin-top: 6rem;
}


/* hero section start */
.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.hero img {
  position: absolute;
  top: 0%;
  left: 50%;
  right: 50%;
  max-width: 50vw;
  max-height: 100%;
  width: auto;
  height: 100vh;
  background-position: right;
  background-size: cover;
  overflow: hidden;
}

.hero_img_overlay {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0%;
  height: 100vh;
  bottom: 0%;
  background-color: #21020d;
  opacity: 0.5;
  z-index: 1;
}

.hero__content {
  z-index: 1;
}

.hero__content-width {
  margin-right: 3rem;
}

.list {
  list-style-type: none;
}

.list a {
  text-decoration: none;
  color: #f9a4c2 !important;
  transition: ease-in 0.4s;
}

.list a:hover {
  color: #c40e4d !important;
}

/* hero music player */
.header_music {
  position: absolute;
  top: 87vh;
  right: 23.2rem;
  width: 60%;
}

.header_music_play {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  background-color: #f9a4c2;
  font-weight: 400;
  padding: 0.5rem;
  width: 40%;
}

.text span {
  margin-top: 0.4rem;
}

.listen {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hide {
  display: none;
  padding: 0.3rem;
}

.play {
  background-color: #21020d;
  color: #f9a4c2;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1.5rem;
  width: 23%;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.progress__bar {
  background-color: #a70c42;
}


/* media queries for large screens */
@media (max-width: 1280px) {
  .header_music {
    right: 13.6rem;
    width: 80%;
  }
}
@media (max-width: 1030px) {
  .header_music {
    right: 11rem;
    top: 84vh;
    width: 80%;
  }
}

/* media queries for smaller screens */
@media (max-width: 950px) {
  .hero img {
    max-width: 100vw;
    left: 0;
    right: 0;
  }
  .header_music {
    right: 0;
    top: 86.2vh;
    width: 100vw;
  }
  .text {
    width: 80%;
  }
  .play {
    display: none;
  }
  .hide {
    display: initial;
  }
  .carousel__card {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .header_music {
    top: 84vh;
  }
}

/* music section */
.carousel__slide {
  min-height: 100vh;
  padding: 3rem 0;
  background-color: #a70c42;
  min-width: 100vw;
}

.carousel__slide h1 {
  text-transform: uppercase;
  color: #f9a4c2;
  padding: 0.5rem 3rem;
}

.carousel__image {
  height: 80vh;
}

.carousel__text {
  padding: 3rem 1rem;
}

.album1 {
  min-height: 100vh;
}

.song {
  color: #fde2ec;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.song h1 {
  text-transform: uppercase;
  text-align: left;
  padding: 0;
}

.song button {
  padding: 1rem;
  color: #fde2ec;
  border-color: #fde2ec;
  background-color: #a70c42;
  text-transform: uppercase;
  width: 50%;
  margin: 1rem 0;
  transition: 0.5s ease-in-out;
}

.song button:hover {
  background-color: #fde2ec;
  color: #a70c42;
}

/* BIO SECTION START */
.bio__section {
  background: #fde2ec;
  padding: 3rem;
}

.bio__text {
  color: #21020d;
  padding: 2rem 0;
}

.bio__text h1 {
  font-weight: 800;
  letter-spacing: 0.15;
}

.bio p {
  letter-spacing: 0.22rem;
  line-height: 1.8;
  padding: 1.2rem 0;
  font-weight: 500;
}


/* FOOTER SECTION  */
footer {
  background-color: #21020d;
  min-width: 100vw;
}

.footer__icons {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 3rem;
  padding: 2rem;
  color: #f9a4c2;
  font-size: 2rem;
}

.footer__icons a {
  color: #f9a4c2;
}

.footer__icons a i:hover {
  color: #c40e4d;
}

footer p {
  color: #f9a4c2;
  padding: 1rem;
}

/* responsiveness for smaller screens */
@media (max-width: 850px) {
  .carousel__inner {
    padding: 2rem;
  }
  .bio .image {
    width: 100vw;
  }
  .bio img {
    max-width: 100vw;
  }
}
@media (max-width: 550px) {
  .carousel__inner {
    padding: 2rem;
  }
  .song button {
    width: 100%;
    margin: 0;
  }
  .album1 {
    max-height: 50vh;
  }
  .bio {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
  }
  .bio .image {
    max-width: 80vw;
  }
  .bio img {
    max-width: 80vw;
  }
  .bio p {
    text-align: justify;
  }
  .footer__icons {
    flex-direction: column;
  }
}

/*# sourceMappingURL=styles.css.map */
